@model List<NHSP.Areas.Payroll.Models.SiteList>

<form id="sitesubmit" asp-area="Payroll" asp-controller="Payroll" asp-action="AssignSite" method="post">
    <div class="modal-body">
        <h1>Site List</h1>
        <div class="form-group">
            <label for="siteId" class="form-label">Select Site</label>
            <select id="siteselect" name="siteId" class="form-select">
                @foreach (var dr in Model)
                {
                    <option value="@dr.SiteId">@dr.Sitename</option>
                }
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Assign Site</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>
