@model NHSP.Areas.Payroll.Models.FileModel

<form id="uploadForm" method="post" enctype="multipart/form-data" asp-area="Payroll" asp-controller="Payroll" asp-action="Upload">
    <div class="modal-body">
        <h1>@Model.SiteName</h1>
        <input type="hidden" name="SiteId" value="@Model.SiteId" />

        <div class="mb-3">
            <label for="formFile" class="form-label">Choose file</label>
            <input class="form-control" type="file" id="UploadFile" name="UploadFile" multiple>
            <div class="text-danger">@Html.ValidationMessageFor(m => m.UploadFile)</div> 
        </div>

        @if (ViewBag.SuccessMessage != null)
        {
            <div class="text-success">@ViewBag.SuccessMessage</div> 
        }
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Upload</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</form>