@model NHSP.Areas.Payroll.Models.FileModel
@{
    ViewData["Title"] = "Request Payroll";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
</head>

<h1 style="text-align:center">CheckPayroll</h1>
<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center text-uppercase">Site</th>
                <th class="text-center text-uppercase">File</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Site != null)
            {
                foreach (var sr in ViewBag.Site)
                {
                    <tr>
                        <td class="text-center text-nowrap">@sr.Sitename</td>
                        <td class="text-center text-nowrap">
                            <a href="@Url.Action("DownloadPayroll", "Payroll", new { fileName = @sr.SiteId })" class="btn btn-primary py-0">Download File</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center text-nowrap">if symptoms persists</td>
                    <td class="text-center text-nowrap">consult it koi!?</td>
                </tr>
            }
        </tbody>
    </table>
</div>