@model UsersModel
@{
    Layout = null;
}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h3>WELCOME @Model.Position</h3>
        <h3> @Model.Id</h3>
        <p>Select system to use</p>
    </div>
    <div class="form-group">
        <a asp-area="Payroll" asp-controller="Payroll" asp-action="Sites" class="btn btn-primary btn-block mb-3">
            New Hire Approval
        </a>
    </div>
    <div class="form-group">
        <a href="@Url.Action("DashSalaryAdjustment", "NewHire")" class="btn btn-secondary btn-block mb-3">
            Salary Adjustment Approval
        </a>
    </div>
    <div class="form-group">
        <a asp-area="Payroll" asp-controller="Payroll" asp-action="DashPayroll" class="btn btn-success btn-block mb-3">
            Payroll Approval
        </a>
    </div>
</div>