<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>@ViewData["Title"] - NHSP</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/prevnav.css"/>
    <link rel="stylesheet" href="~/NHSP.styles.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Payroll" asp-controller="Payroll" asp-action="DashPayroll">NHSP - @ViewData["SessionName"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Payroll" asp-controller="Payroll" asp-action="DashPayroll">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Payroll
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if ((string)ViewData["SessionType"] == "SITECOORDINATOR" || (string)ViewData["SessionType"] == "TIMEKEEPER")
                                {
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="CheckPayroll">Check Payroll</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="SiteDTR">Site DTR</a></li>
                                    @* <li><a class="dropdown-item" asp-area="payroll" asp-controller="payroll" asp-action="totable">users</a></li> *@
                                }
                                else if ((string)ViewData["SessionType"] == "PAYROLLOFFICER" || (string)ViewData["SessionType"] == "ADMIN/ACCTG STAFF")
                                {
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="AddPayroll">Add Payroll</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="ViewPayroll">Approval</a></li>
                                    @* <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="DeleteFile">Delete File</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="Completed">Completed</a></li> *@
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="UserAccount">User Approval</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="UserManage">User Management</a></li>
                                    @* <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="MigrateSites">MigrateSites</a></li> *@
                                }
                                else if ((string)ViewData["SessionType"] == "OPERATIONSAREAMANAGER" || (string)ViewData["SessionType"] == "ASSISTANTOPERATIONSMANAGER")
                                {
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="CheckPayroll">Check Payroll</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="SiteDTR">Site DTR</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="ViewPayroll">Approval</a></li>                                    
                                    @* <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="DeleteFile">Delete File</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="Completed">Completed</a></li> *@
                                }
                                else
                                {
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="ViewPayroll">Approval</a></li>
                                    @* <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="DeleteFile">Delete File</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="Completed">Completed</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="MigrateUser">Users</a></li>
                                    <li><a class="dropdown-item" asp-area="Payroll" asp-controller="Payroll" asp-action="MigrateSites">MigrateSites</a></li> *@
                                }
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div style="display: flex; justify-content: center" class="container">
            <h6 id="clock"></h6>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/3.2.2/jquery.panzoom.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function updateClock() {
            var now = new Date();
            var hours = now.getHours().toString().padStart(2, '0');
            var minutes = now.getMinutes().toString().padStart(2, '0');
            var seconds = now.getSeconds().toString().padStart(2, '0');
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12;

            var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;

            var options = { year: 'numeric', month: 'long', day: 'numeric' };
            var strDate = now.toLocaleDateString(undefined, options);

            document.getElementById('clock').textContent = strDate + ' ' + strTime;
        }
        setInterval(updateClock, 1000);
        updateClock();
    </script>
</body>
</html>
